In [5]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("./helper/db.sqlite3")
df = pd.read_sql_query("SELECT * FROM Users", conn)
df

,id,email,username,first_name,last_name,hashed_password,is_active,role,phone_number
0,1,test@example.com,test_user,John,Doe,$2b$12$aR9efIDPPwPVVXjMVgoH0ObsWgM662FkIGT66CN...,1,user,1234567890